body { font-size:62.5%; }
html,body,#app{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.i{
    display:block;
    width:45%;
    color:#ccc;
    margin:0 auto;
    font-size: 12px;
    transform: scale(0.8);
    text-align: center;
    user-select: none;
}
.f-l{
    float:left;
}
.f-r{
    float:right;
}
.auto{
    margin:0 auto;
}
.txt-center{
    text-align: center;
}
.w-50{
    width:50%;
}
.input{
    width:25%;
    min-width:150px;
    height:25px;
    border-radius: 8px;
    outline: none;
    border:1px solid #d5d5d5;
}

.input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #aab2bd;
    opacity: .4;

    text-indent: 8px;
    /* placeholder字体大小  */
    font-size: 12px;
    /* placeholder位置  */
    text-align: left;
}

.input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    /* position: relative; */
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ffac38;
}
/* input[type=search]::-webkit-search-cancel-button:after{
    position: absolute;
    content: 'x';
    left: 25%;
    top: -12%;
    font-size: 20px;
    color: red;
} */

/* :hover 不停快速旋转
transform: rotate(666turn);
transition-delay: 1s;
transition-property: all;
transition-duration: 59s;
transition-timing-function: cubic-bezier(.34,0,.84,1);
} */