

 .novel {
   width:100%;
   height:100%;
   padding:10px;
   overflow: hidden;
 }
 .novel .chapter{
    width:60%;
    margin:10px auto;
    cursor:pointer;
    color:#444;
  }
 .novel .chapter:hover{
    text-shadow: 0.1em 0.1em 0.2em #ccc;
  }
  .novel .p-1{
    overflow:hidden; 
    text-overflow:ellipsis; 
    display:-webkit-box;  
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1; 
  }
  .novel .p-3{
    overflow:hidden; 
    text-overflow:ellipsis; 
    display:-webkit-box;  
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3; 
  }