.novel .classify-item:hover{
    opacity: .8;
    /* box-shadow: 0 3px 2px 0 #3C3C3D, 0 0 1px 0 #3C3C3D; */
    transform: scale(1.1)
  }
  .novel .p .chapter{
    color:#666;
    display:inline-block;
    cursor: pointer;
  }
  .novel .p .chapter:hover{
    opacity: .8;
    transform: scale(1.1)
  }