.wallpaper-bar::-webkit-scrollbar,
.wallpaper-bar::-webkit-scrollbar {
  display: none;
}
.wallpaper-item-phone{
  /* max-height:350px;
  min-height:300px */
}
.wallpaper-item-pc{
  /* max-height:200px;
  min-height:150px */
}

.wallpaper-item-img{
  overflow: hidden;
  background-color: #000;
  opacity: 1;
  cursor: pointer;
}

.wallpaper-item-img img{
  transition: all ease .5s;
}
.wallpaper-item-img:hover img{
  transform: scale(1.1)
}

.wallpaper .wallpaper-item-img>span{
  text-align:center;
  color:#444;
  background-color: #ccc;
  opacity: .7;
  position:absolute;
  left:0;right:0;bottom:0;
}
.wallpaper .wallpaper-item-img>.down{
  height:35px;
  line-height: 35px;
  display:flex;
  background-color: #000;
  color:#fff;
  margin-bottom:-40px;
  transition: all ease .3s;
  opacity: 0;
}
.wallpaper .wallpaper-item-img > .category{
  height:35%;
  line-height: 50px;
  background-color: #000;
  opacity: .6;
  color:#fff;
}
.wallpaper .wallpaper-item-img:hover .down{
  background-color: #000;
  opacity: .7;
   margin-bottom:0px;
}

#qrcode{
  display: none
}
.wall-show{
  opacity: 1;
}
.qr-item{
  width:100%;
  background-size:100%;
}
.wallpaper .active{
  text-decoration: underline;
  border-bottom: 1px solid #ff5e00
}