.com-input {
    position: relative;
}
.com-input label{
    opacity: .7;
}
.com-input input{
    outline: none;
    border:1px solid #ccc;
    border-radius: 8px;
    text-indent: 6px;
    padding:4px;
}
.com-input .clear{
    width:12px;
    height:12px;
    background: #bbb;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    top:50%;
    right:0;
    transform: translate(-50%,-50%);
    font-size:12px;
    display: none;
}
.clear::before{
    content: 'x';
    position: absolute;
    top:40%;
    left:50%;
    color:#fff;
    transform: translate(-50%,-50%);
}
.input:valid + .clear {
    display: block;
}