.com-input {
    position: relative;
    user-select: none;
}
.com-input label{
    opacity: .7;
}
.com-input input{
    outline: none;
    border:1px solid #ccc;
    border-radius: 8px;
    text-indent: 6px;
    padding:4px;
    position: relative;
}
input::-webkit-input-placeholder {
     color: #ddd;
 }
 .input-group{
     position: relative;
 }
.com-input .clear{
    width:12px;
    height:12px;
    background: #bbb;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    top:55%;
    right:0;
    transform: translate(-50%,-50%);
    font-size:12px;
    display: none;
}
.clear::before{
    content: 'x';
    position: absolute;
    top:40%;
    left:50%;
    color:#fff;
    transform: translate(-50%,-50%);
}
.input:valid + .clear {
    display: block;
}
.code {
     overflow: hidden;
     position: absolute;
     font-size:13px;
     padding:4px;
     cursor: pointer;
}
.sms{
    font-size: 12px;
    text-decoration: underline;
    color:#bbb;
    text-align: center;
}
.sms:hover{
    color:#aaa;
}